@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: CENTER;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  color: darkgray;
  padding: 0;
  margin: 16px;
}

a {
  text-decoration: none;
  color: darkgray;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eeee;
}

img {
  width: 600px;
}

.content {
  text-align: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
